//Nämä määrittelyt toimivat FAQ-sivulla
#faqWrapper:nth-child(1) {
  div.card {
    position: relative;
    border: $border;
  }
  //Leveä kysymyscontainer
  #qContainer {
    @include media-breakpoint-between(lg, xl) {
      position: absolute;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
    //Yksittäinen kysymys
    > div.card {
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 0%;
    }
  }
  //Kysymyksen otsikko
  h4 {
    font-weight: lighter;
  }
  @include media-breakpoint-between(xs, sm) {
    h4 {
      font-size: 1.2rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
