#loginContainer,  #regContainer{
    height: 100vh;
    background-image: url("../img/bg1.png");
    background-color: $SecondBgroundCol;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 130%;
    position: relative;
    animation: bgMove 5s linear infinite;
    @include media-breakpoint-only(xs){
        background-size: 300%;
        animation: bgMove 50s linear infinite;
    }
    @include media-breakpoint-only(sm){
        animation: bgMove 50s linear infinite;
    }
    @include media-breakpoint-only(md){
        animation: bgMove 50s linear infinite;
    }
    @include media-breakpoint-between(lg,xl){

        animation: bgMove 50s linear infinite;
    }
    > .colorLayer{
        position: absolute;
        height: 100%;
        background-color:rgba(196, 242, 241, 0.829);
    }
    @keyframes bgMove {
        from {
            background-position: 0 0;
        }
        to{
            background-position: 100% 0;
        }
    }
    font-family: $FontFam;
    label{
        @include media-breakpoint-between(xs,sm){
            font-size: 0.9rem;
        }
    }
  
    h1{
        @include bigHFont();
        font-size: 5rem;
        @include media-breakpoint-between(xs,sm){
            font-size: 2.5rem;
        }
    }
    h2{
        @include smallHFont();
        @include media-breakpoint-between(xs,sm){
            font-size: 2rem;
            padding: 0;
        }
    }
    input{
        transition: all .2s; 
        background-color: $inputbackColor;
        border: $border;
        &::placeholder{
            color: $placeholderFontCol;
            font-style: italic; 
        }
        &:hover{
            background-color: #e2dfdf;
        }
    }
    label{
        color: $blackColor;
    }
    button{
        font-family: $FontFamHeading;
        letter-spacing: 1px; 
        color: $blackColor;
        &#login{
            transition: all .2s;
            background-color:  $buttonColor;
            border: $border;
            &:hover{
                transform: scale(1.02);
                background-color: $buttonHover;
                border: $border;
            }
        }
        &#reg{
            transition: all .2s;
            background-color: $button2Color;
            border: $border;
            &:hover{
                transform: scale(1.02);
                background-color: $button2Hover;
                border: $border;
            }
        }
    }
}

@keyframes lineAnim{
    to{ stroke-dashoffset: 0;}
}
@keyframes svgFill{
    from { fill: transparent;}
    to{ fill: #FEFEFA;}
}

#jklGuideLogo{
    @include media-breakpoint-between(xs,md){
        height: 100%;
        width: 100%;
    }
    svg, path{
        overflow: visible;
    }

    filter: drop-shadow( 2px 2px 4px #555555);
    animation: svgFill 0.5s ease forwards 3s; 
    > path{
        &:nth-child(1){
            stroke-dasharray: 193.5;
            stroke-dashoffset: 193.5;
            animation: lineAnim 2s ease forwards;
        }
        &:nth-child(2){
            stroke-dasharray: 355.6;
            stroke-dashoffset: 355.6;
            animation: lineAnim 2s ease forwards 0.2s;
        }
        &:nth-child(3){
            stroke-dasharray: 238;
            stroke-dashoffset: 238;
            animation: lineAnim 2s ease forwards 0.4s;
        }
        &:nth-child(4){
            stroke-dasharray: 108.59;
            stroke-dashoffset: 108.59;
            animation: lineAnim 2s ease forwards 0.6s;
        }
        &:nth-child(5){
            stroke-dasharray: 337.7;
            stroke-dashoffset: 337.7;
            animation: lineAnim 2s ease forwards 0.8s;
        }
        &:nth-child(6){
            stroke-dasharray: 265.1;
            stroke-dashoffset: 265.1;
            animation: lineAnim 2s ease forwards 1s;
        }
        &:nth-child(7){
            stroke-dasharray: 187.5;
            stroke-dashoffset: 187.5;
            animation: lineAnim 2s ease forwards 1.2s;
        }
        &:nth-child(8){
            stroke-dasharray: 330.3;
            stroke-dashoffset: 330.3;
            animation: lineAnim 2s ease forwards 1.4s;
        }
        &:nth-child(9){
            stroke-dasharray: 266.6;
            stroke-dashoffset: 266.6;
            animation: lineAnim 2s ease forwards 1.6s;
        }
    }
}