#navbarWrapper {
  background-color: $SecondBgroundCol;
  background-image: url("../img/bg1.png");
  background-size: 70%;
  z-index: 999;

  animation: bgMove 5s linear alternate infinite; //tässä laitetaan taustakuvan kartta liikkumaan
  @include media-breakpoint-only(xs){
      background-size: 85%;
      animation: bgMove 100s linear alternate infinite;
  }
  @include media-breakpoint-only(sm){
      background-size: 85%;
      animation: bgMove 100s linear alternate infinite;
  }
  @include media-breakpoint-only(md){
      background-size: 85%;
      animation: bgMove 100s linear alternate infinite;
  }
  @include media-breakpoint-between(lg, xl){
      background-size: 85%;
      animation: bgMove 100s linear alternate infinite;
  }

  > .colorLayer{
    height: 100%;
    background-color: rgba(196, 242, 241, 0.829);
}

    @keyframes bgMove {
        from {
            background-position: 0 2%;
        }
        to{
            background-position: 100% 2%;
        }
    }

  nav {
   flex-wrap: wrap;

    @include media-breakpoint-between(xs, lg) {
    background-size: 50%;
    }
    @include media-breakpoint-between(xs, sm) {
      background-size: 60%;
    }
    @include media-breakpoint-between(md, lg){
      background-size: 40%;
    }
   
    

    .flex-columns {
      @include media-breakpoint-between(xs, lg) {
        flex-direction: column;
      }
    }

    .navbar-toggler:focus {
      outline: none;
    }
    .navheader {
       
      font-family: $FontFamHeading;
      color: $accentColor;
      text-shadow: 2px 2px 4px #8b8b8b;
      @include media-breakpoint-between(xs, lg) {
        margin-top: -15px;
      }
      @include media-breakpoint-between(xs, sm) {
        font-size: 1.3rem;
      }
      @include media-breakpoint-between(md, lg) {
        font-size: 2rem;
      }
    }
    .navbar-brand {
      position: left;
      justify-self: center;
      transition: all 0.2s ease 0s;
      &:hover {
        transform: scale(1.02);
      }
      @include media-breakpoint-between(xs, sm) {
        @include bigHFont();
        margin-top: -15px;
      }
      @include media-breakpoint-between(md, xl) {
        @include bigHFont();
      }
    }

    .navbar-brand-img{
      max-width: 100px;
      max-height: auto;
    }
    

    #navbarDropdownMenuLink {
      transition: all 0.1s ease 0s;
      height: 50px;
      background-color: $accentColor;
      color: $PrimaryFontCol;
      font-family: $FontFamHeading;
      font-size: 20px;
      letter-spacing: 1px;
      border: none;
      border-radius: 4px;

      @include media-breakpoint-between(xs, md) {
        height: auto;
        width: auto;
        margin-bottom: 8px;
        padding-left: 24px;
      }
      &:focus {
        outline: none !important;
      }
      &:hover {
        transform: scale(1.01);
        @include media-breakpoint-between(xs, md) {
          background-color: #ecece6;
        }
      }
    }
    #navbarNavDropdown > ul > li.nav-item.dropdown.pl-1.show > div {
      @include media-breakpoint-between(xs, md) {
        margin-bottom: 8px;
      }
    }
    #navbarNavDropdown {
      > ul > li {
        > a {
          transition: all 0.1s ease 0s;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 50px;
          width: 50px;
          background-color: $PrimaryFontCol;
          border-radius: 50%;
          border: $border;
          &:hover {
            transform: scale(1.048);
            @include media-breakpoint-between(xs, md) {
              background-color: #ecece6;
            }
          }
          @include media-breakpoint-between(xs, md) {
            height: auto;
            width: auto;
            border: none;
            background: none;
            border-radius: 10px;
            padding-left: 24px;
            background-color: $PrimaryFontCol;
            margin-top: 8px;
            border: $border;
            color: $accentColor;
          }
          .icon {
            height: 20px;
            width: 20px;
            @include media-breakpoint-between(sm, xl) {
              display: flex;
              fill: $blackColor;
              align-self: center;
            }
            @include media-breakpoint-between(xs, md) {
              display: none;
            }
            svg {
              fill: rgb(85, 85, 85);
              width: 100%;
              height: 100%;
            }
          }
          .text {
            display: flex;
            @include media-breakpoint-between(lg, xl) {
              display: none;
            }
          }
        }
      }

      .nav-item.dropdown {
        @include media-breakpoint-between(xs, md) {
          padding: 8px 0 8px 0;
        }
      }
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      position: absolute;
      border-radius: 10px;
      background-color: $PrimaryFontCol;
      .dropdown-item {
        font-family: $FontFamHeading;

        &:hover {
          transform: scale(1.02);
          background: none;
        }
      }
    }
  }
}
