@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto:300,300i,400,700&display=swap&subset=latin-ext");

$BackGroundCol: #4b3f3f;
$SecondBgroundCol: rgba(196, 242, 241, 0.829);
$PrimaryFontCol: #fefefa;
$blackColor: #242424;
$borderColor: #b1b1b1;
$inputbackColor: #f2f2f2;
$accentColor: #4b3f3f;
$border: 1px $borderColor solid;
$FontFam: "Roboto", sans-serif;
$FontFamHeading: "Bebas neue", cursive;

@mixin bigHFont {
  font-family: $FontFamHeading;
  color: $PrimaryFontCol;
  font-size: 62px;
  text-shadow: 2px 2px 4px #555555;
}

@mixin smallHFont {
  font-family: $FontFamHeading;
  color: $PrimaryFontCol;
  font-size: 40px;
  text-shadow: 2px 2px 4px #555555;
}

@mixin smallerHFont {
  font-family: $FontFamHeading;
  color: $blackColor;
  font-size: 18.5px;
}
