@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto:300,300i,400,700&display=swap&subset=latin-ext");
#loginContainer, #regContainer {
  height: 100vh;
  background-image: url("../img/bg.png");
  background-color: #99eee5;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: 200%;
  position: relative;
  animation: bgMove 5s linear infinite; }
  @media (max-width: 575.98px) {
    #loginContainer, #regContainer {
      background-size: 300%;
      animation: bgMove 50s linear infinite; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    #loginContainer, #regContainer {
      animation: bgMove 50s linear infinite; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #loginContainer, #regContainer {
      animation: bgMove 50s linear infinite; } }
  @media (min-width: 992px) {
    #loginContainer, #regContainer {
      animation: bgMove 50s linear infinite; } }
  #loginContainer > .colorLayer, #regContainer > .colorLayer {
    position: absolute;
    height: 100%;
    background-color: rgba(144, 238, 218, 0.842); }

@keyframes bgMove {
  from {
    background-position: 0 0; }
  to {
    background-position: 100% 0; } }

#regContainer {
  background: #99eee5;
  font-family: "Roboto", sans-serif; }
  @media (max-width: 767.98px) {
    #regContainer label {
      font-size: 0.9rem; } }
  #regContainer button.register {
    background-color: #35b870;
    border: 2px #2b975c solid; }
    #regContainer button.register:hover {
      background-color: #3ac97a;
      border: 2px #30a866 solid; }
  #regContainer h1 {
    font-family: "Righteous", cursive;
    color: #fefefa;
    font-size: 62px;
    text-shadow: 2px 2px 4px #555555;
    font-size: 5rem; }
    @media (max-width: 767.98px) {
      #regContainer h1 {
        font-size: 2.5rem; } }
  #regContainer h2 {
    font-family: "Righteous", cursive;
    color: #fefefa;
    font-size: 40px;
    text-shadow: 2px 2px 4px #555555; }
    @media (max-width: 767.98px) {
      #regContainer h2 {
        font-size: 2rem;
        padding: 0; } }
  #regContainer input {
    transition: all .2s;
    background-color: #f2f2f2;
    border: 1px #b1b1b1 solid; }
    #regContainer input::placeholder {
      color: #929292;
      font-style: italic; }
    #regContainer input:hover {
      background-color: #e2dfdf; }
  #regContainer label {
    color: #242424; }
  #regContainer button {
    color: #242424; }
    #regContainer button#login {
      transition: all .2s;
      background-color: #1c7e58;
      border: 2px #196b4c solid; }
      #regContainer button#login:hover {
        transform: scale(1.02);
        background-color: #218d64;
        border: 2px #1d7a57 solid; }
    #regContainer button#reg {
      transition: all .2s;
      background-color: #35b870;
      border: 2px #2b975c solid; }
      #regContainer button#reg:hover {
        transform: scale(1.02);
        background-color: #39c779;
        border: 2px #30a866 solid; }

@keyframes lineAnim {
  to {
    stroke-dashoffset: 0; } }

@keyframes svgFill {
  from {
    fill: transparent; }
  to {
    fill: #FEFEFA; } }

#jklGuideLogo {
  filter: drop-shadow(2px 2px 4px #555555);
  animation: svgFill 0.5s ease forwards 3s; }
  @media (max-width: 991.98px) {
    #jklGuideLogo {
      height: 100%;
      width: 100%; } }
  #jklGuideLogo svg, #jklGuideLogo path {
    overflow: visible; }
  #jklGuideLogo > path:nth-child(1) {
    stroke-dasharray: 193.5;
    stroke-dashoffset: 193.5;
    animation: lineAnim 2s ease forwards; }
  #jklGuideLogo > path:nth-child(2) {
    stroke-dasharray: 355.6;
    stroke-dashoffset: 355.6;
    animation: lineAnim 2s ease forwards 0.2s; }
  #jklGuideLogo > path:nth-child(3) {
    stroke-dasharray: 238;
    stroke-dashoffset: 238;
    animation: lineAnim 2s ease forwards 0.4s; }
  #jklGuideLogo > path:nth-child(4) {
    stroke-dasharray: 108.59;
    stroke-dashoffset: 108.59;
    animation: lineAnim 2s ease forwards 0.6s; }
  #jklGuideLogo > path:nth-child(5) {
    stroke-dasharray: 337.7;
    stroke-dashoffset: 337.7;
    animation: lineAnim 2s ease forwards 0.8s; }
  #jklGuideLogo > path:nth-child(6) {
    stroke-dasharray: 265.1;
    stroke-dashoffset: 265.1;
    animation: lineAnim 2s ease forwards 1s; }
  #jklGuideLogo > path:nth-child(7) {
    stroke-dasharray: 187.5;
    stroke-dashoffset: 187.5;
    animation: lineAnim 2s ease forwards 1.2s; }
  #jklGuideLogo > path:nth-child(8) {
    stroke-dasharray: 330.3;
    stroke-dashoffset: 330.3;
    animation: lineAnim 2s ease forwards 1.4s; }
  #jklGuideLogo > path:nth-child(9) {
    stroke-dasharray: 266.6;
    stroke-dashoffset: 266.6;
    animation: lineAnim 2s ease forwards 1.6s; }

#navbarWrapper {
  background-color: #99eee5;
  z-index: 999; }
  #navbarWrapper nav {
    flex-wrap: wrap; }
    @media (max-width: 1199.98px) {
      #navbarWrapper nav .flex-columns {
        flex-direction: column; } }
    #navbarWrapper nav .navbar-toggler:focus {
      outline: none; }
    #navbarWrapper nav .navheader {
      font-family: "Righteous", cursive;
      color: #4b3f3f;
      text-shadow: 2px 2px 4px #8b8b8b; }
      @media (max-width: 1199.98px) {
        #navbarWrapper nav .navheader {
          margin-top: -15px; } }
      @media (max-width: 767.98px) {
        #navbarWrapper nav .navheader {
          font-size: 1.3rem; } }
      @media (min-width: 768px) and (max-width: 1199.98px) {
        #navbarWrapper nav .navheader {
          font-size: 2rem; } }
    #navbarWrapper nav .navbar-brand {
      justify-self: center;
      transition: all 0.2s ease 0s; }
      #navbarWrapper nav .navbar-brand:hover {
        transform: scale(1.01); }
      @media (max-width: 767.98px) {
        #navbarWrapper nav .navbar-brand {
          font-family: "Righteous", cursive;
          color: #fefefa;
          font-size: 40px;
          text-shadow: 2px 2px 4px #555555;
          margin-top: -15px; } }
      @media (min-width: 768px) {
        #navbarWrapper nav .navbar-brand {
          font-family: "Righteous", cursive;
          color: #fefefa;
          font-size: 62px;
          text-shadow: 2px 2px 4px #555555; } }
    #navbarWrapper nav #navbarDropdownMenuLink {
      transition: all 0.1s ease 0s;
      height: 74px;
      background-color: #fefefa;
      color: #242424;
      font-size: 20px;
      border: 1px #b1b1b1 solid;
      border-radius: 10px; }
      @media (max-width: 991.98px) {
        #navbarWrapper nav #navbarDropdownMenuLink {
          height: auto;
          width: auto;
          margin-bottom: 8px;
          padding-left: 24px; } }
      #navbarWrapper nav #navbarDropdownMenuLink:focus {
        outline: none !important; }
      #navbarWrapper nav #navbarDropdownMenuLink:hover {
        transform: scale(1.01); }
        @media (max-width: 991.98px) {
          #navbarWrapper nav #navbarDropdownMenuLink:hover {
            background-color: #ecece6; } }
    @media (max-width: 991.98px) {
      #navbarWrapper nav #navbarNavDropdown > ul > li.nav-item.dropdown.pl-1.show > div {
        margin-bottom: 8px; } }
    #navbarWrapper nav #navbarNavDropdown > ul > li > a {
      transition: all 0.1s ease 0s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 74px;
      width: 74px;
      background-color: #fefefa;
      border-radius: 50%;
      border: 1px #b1b1b1 solid; }
      #navbarWrapper nav #navbarNavDropdown > ul > li > a:hover {
        transform: scale(1.048); }
        @media (max-width: 991.98px) {
          #navbarWrapper nav #navbarNavDropdown > ul > li > a:hover {
            background-color: #ecece6; } }
      @media (max-width: 991.98px) {
        #navbarWrapper nav #navbarNavDropdown > ul > li > a {
          height: auto;
          width: auto;
          border: none;
          background: none;
          border-radius: 10px;
          padding-left: 24px;
          background-color: #fefefa;
          margin-top: 8px;
          border: 1px #b1b1b1 solid;
          color: #242424; } }
      #navbarWrapper nav #navbarNavDropdown > ul > li > a .icon {
        height: 36px;
        width: 36px; }
        @media (min-width: 576px) {
          #navbarWrapper nav #navbarNavDropdown > ul > li > a .icon {
            display: flex;
            fill: #242424;
            align-self: center; } }
        @media (max-width: 991.98px) {
          #navbarWrapper nav #navbarNavDropdown > ul > li > a .icon {
            display: none; } }
        #navbarWrapper nav #navbarNavDropdown > ul > li > a .icon svg {
          fill: #555555;
          width: 100%;
          height: 100%; }
      #navbarWrapper nav #navbarNavDropdown > ul > li > a .text {
        display: flex; }
        @media (min-width: 992px) {
          #navbarWrapper nav #navbarNavDropdown > ul > li > a .text {
            display: none; } }
    @media (max-width: 991.98px) {
      #navbarWrapper nav #navbarNavDropdown .nav-item.dropdown {
        padding: 8px 0 8px 0; } }
    #navbarWrapper nav .dropdown-toggle::after {
      display: none; }
    #navbarWrapper nav .dropdown-menu {
      position: absolute;
      border-radius: 10px;
      background-color: #fefefa; }
      #navbarWrapper nav .dropdown-menu .dropdown-item:hover {
        transform: scale(1.02);
        background: none; }

#map {
  background-color: #fefefa;
  border: 1px #b1b1b1 solid;
  position: relative; }
  @media (min-width: 768px) {
    #map {
      height: 45vh; } }
  @media (max-width: 991.98px) {
    #map {
      height: 40vh;
      margin: 8px 0 8px 0; } }
  @media (max-width: 767.98px) {
    #map {
      height: 40vh;
      margin: 8px 0 8px 0; } }
  #map .mapContainer {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fefefa;
    border: 1px #b1b1b1 solid; }
  #map .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040a8;
    border-radius: 10px;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: lighter;
    font-size: 0.8em; }
    @media (max-width: 767.98px) {
      #map .sidebarStyle {
        font-size: 0.6rem;
        padding: 3px;
        border-radius: 5px; } }

#mapParent {
  background-color: #fefefa;
  position: relative;
  border: 1px #b1b1b1 solid; }
  @media (min-width: 768px) {
    #mapParent {
      height: 65vh; } }
  @media (max-width: 991.98px) {
    #mapParent {
      height: 50vh;
      margin: 8px 0 8px 0; } }
  @media (max-width: 767.98px) {
    #mapParent {
      height: 45vh;
      margin: 8px 0 8px 0; } }
  #mapParent .mapContainer {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: greenyellow;
    border: 1px #b1b1b1 solid; }
  #mapParent .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040a8;
    border-radius: 10px;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: lighter;
    font-size: 0.8em; }
    @media (max-width: 767.98px) {
      #mapParent .sidebarStyle {
        font-size: 0.6rem;
        padding: 3px;
        border-radius: 5px; } }

.mapboxgl-marker {
  background-image: url("../img/placeholder.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  cursor: pointer; }

.mapboxgl-popup {
  max-width: 200px; }

.mapboxgl-popup-content {
  z-index: 100;
  border: 1px #b1b1b1 solid;
  text-align: center;
  font-family: "Roboto", sans-serif; }
  .mapboxgl-popup-content h1 {
    font-size: 1rem;
    color: #242424; }

#mapappWrapper {
  height: 100%;
  position: relative; }
  @media (max-width: 767.98px) {
    #mapappWrapper {
      margin-top: 8px; } }
  @media (max-width: 575.98px) {
    #mapappWrapper form > div#searchForm {
      padding: 10px; } }
  @media (min-width: 576px) and (max-width: 1199.98px) {
    #mapappWrapper form > div#searchForm {
      padding-bottom: 0; } }
  #mapappWrapper form > div#searchForm #searchInput > input {
    background-color: #f2f2f2; }
    #mapappWrapper form > div#searchForm #searchInput > input::placeholder {
      color: #7c7b76;
      font-style: italic; }
    #mapappWrapper form > div#searchForm #searchInput > input:hover {
      background-color: #e7e7e7; }
  #mapappWrapper form > div#searchForm #searchBtn > button {
    transition: transform 0.2s; }
    #mapappWrapper form > div#searchForm #searchBtn > button:hover {
      transform: scale(1.02);
      background-color: #8d8a85;
      border: 1px #524f4f solid; }
      #mapappWrapper form > div#searchForm #searchBtn > button:hover svg {
        fill: #00ffaa; }
    #mapappWrapper form > div#searchForm #searchBtn > button > svg {
      height: 100%;
      fill: #555555; }
  #mapappWrapper form > div#searchForm input,
  #mapappWrapper form > div#searchForm button {
    border: 1px #b1b1b1 solid; }
  #mapappWrapper form > div#searchForm #asyncresult {
    z-index: 50; }
    @media (min-width: 576px) {
      #mapappWrapper form > div#searchForm #asyncresult {
        transform: translateY(calc(1.5em + 1rem + 0.5rem));
        position: absolute; } }
    @media (max-width: 575.98px) {
      #mapappWrapper form > div#searchForm #asyncresult {
        position: inherit; } }
    #mapappWrapper form > div#searchForm #asyncresult ul {
      padding-left: 0;
      border: 1px #b1b1b1 solid;
      border-radius: 10px;
      background-color: #fefefa;
      list-style-type: none; }
      #mapappWrapper form > div#searchForm #asyncresult ul > li {
        cursor: pointer;
        padding: 8px 16px; }
        #mapappWrapper form > div#searchForm #asyncresult ul > li:first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px; }
        #mapappWrapper form > div#searchForm #asyncresult ul > li:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; }
        #mapappWrapper form > div#searchForm #asyncresult ul > li:focus, #mapappWrapper form > div#searchForm #asyncresult ul > li:hover {
          background-color: #929292;
          outline: #b1b1b1;
          font-size: 1.1rem; }

#faqWrapper:nth-child(1) div.card {
  position: relative;
  border: 1px #b1b1b1 solid; }

@media (min-width: 992px) {
  #faqWrapper:nth-child(1) #qContainer {
    position: absolute;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; } }

#faqWrapper:nth-child(1) #qContainer > div.card {
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0%; }

#faqWrapper:nth-child(1) h4 {
  font-weight: lighter; }

@media (max-width: 767.98px) {
  #faqWrapper:nth-child(1) h4 {
    font-size: 1.2rem; }
  #faqWrapper:nth-child(1) p {
    font-size: 0.9rem; } }

#addserviceWrapper #imgbase {
  border: 1px #b1b1b1 solid;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  @media (max-width: 575.98px) {
    #addserviceWrapper #imgbase {
      height: 20vh;
      width: 25vh; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    #addserviceWrapper #imgbase {
      height: 15vh; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #addserviceWrapper #imgbase {
      height: 20vh; } }
  @media (min-width: 992px) {
    #addserviceWrapper #imgbase {
      flex: 1 0 auto; } }

#addserviceWrapper #addressline > input:nth-child(2) {
  border-radius: 0.25rem 0 0 0.25rem; }

#addserviceWrapper #addressline > input:nth-child(3) {
  border-left: 0;
  border-radius: 0 0.25rem 0.25rem 0; }

#addserviceWrapper #coordinates > input:nth-child(1) {
  border-radius: 0.25rem 0 0 0.25rem; }
  @media (max-width: 575.98px) {
    #addserviceWrapper #coordinates > input:nth-child(1) {
      border-radius: 0.25rem; } }

#addserviceWrapper #coordinates > input:nth-child(2) {
  border-left: 0;
  border-radius: 0 0.25rem 0.25rem 0; }
  @media (max-width: 575.98px) {
    #addserviceWrapper #coordinates > input:nth-child(2) {
      border-left: 1px #b1b1b1 solid;
      border-radius: 0.25rem; } }

#addserviceWrapper input,
#addserviceWrapper textarea {
  background-color: #f2f2f2;
  border: 1px #b1b1b1 solid;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }
  #addserviceWrapper input:hover,
  #addserviceWrapper textarea:hover {
    background-color: #e7e7e7; }
  #addserviceWrapper input::placeholder,
  #addserviceWrapper textarea::placeholder {
    font-size: small;
    color: #7c7b76;
    font-style: italic; }

#addserviceWrapper input[type="text"]:focus,
#addserviceWrapper textarea:focus {
  border-color: #838383;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(168, 168, 168, 0.486), 0 0 8px rgba(196, 196, 196, 0.6); }

#addserviceWrapper input[type="number"] {
  -moz-appearance: textfield; }
  #addserviceWrapper input[type="number"]::-webkit-outer-spin-button, #addserviceWrapper input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

#addserviceWrapper form > div.col-md-6.d-flex.flex-column.pl-xl-5 > div.input-group input,
#addserviceWrapper form > div.col-md-6.d-flex.flex-column.pl-xl-5 > div.input-group span,
#addserviceWrapper form > div.col-md-6.d-flex.flex-column.pl-xl-5 > div.input-group label {
  border: 1px #b1b1b1 solid;
  cursor: pointer; }

#addserviceWrapper form > div.col-md-6.d-flex.flex-column.pl-xl-5 > div.input-group .custom-file-input:focus ~ .custom-file-label {
  outline: 0;
  box-shadow: none; }

#addserviceWrapper form > div.col-md-6.d-flex.flex-column.pl-xl-5 > div.input-group span:hover {
  background-color: #dbdbdb; }

#addserviceWrapper button {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: all 0.2s;
  background-color: #35b870;
  border: 2px #2b975c solid; }
  #addserviceWrapper button:hover {
    transform: scale(0.98);
    background-color: #25af63;
    border: 2px #218b63 solid; }

#sticky-footer {
  z-index: 999;
  background-color: #99eee5;
  box-shadow: 0 -6px 18px -5px rgba(0, 0, 0, 0.473); }
  @media (max-width: 767.98px) {
    #sticky-footer footer #centerCR {
      display: none; } }
  @media (min-width: 768px) {
    #sticky-footer footer #rightCR {
      display: none; } }
  #sticky-footer footer > #someIcons > div {
    transition: all 0.2s;
    width: 35px;
    height: 35px;
    margin-right: 8px; }
    #sticky-footer footer > #someIcons > div:hover {
      transform: scale(1.05); }
    @media (max-width: 767.98px) {
      #sticky-footer footer > #someIcons > div {
        width: 24px;
        height: 24px; } }
    #sticky-footer footer > #someIcons > div > svg {
      height: 100%;
      width: 100%; }

#forumContainer,
#favoriteContainer {
  height: 100%;
  padding: 0; }
  @media (max-width: 767.98px) {
    #forumContainer,
    #favoriteContainer {
      margin: 8px 0 8px 0; } }
  #forumContainer > .card,
  #favoriteContainer > .card {
    background-color: #fefefa;
    border: 1px #b1b1b1 solid; }
    #forumContainer > .card .card-header,
    #favoriteContainer > .card .card-header {
      font-family: "Righteous", cursive;
      color: #242424;
      font-size: 18.5px; }
      #forumContainer > .card .card-header.title,
      #favoriteContainer > .card .card-header.title {
        transition: transform 0.2;
        border-top: 1px #b1b1b1 solid;
        padding: 8px 16px; }
        #forumContainer > .card .card-header.title > h2,
        #favoriteContainer > .card .card-header.title > h2 {
          color: #242424;
          font-size: 1.2rem;
          font-weight: lighter;
          padding: 0;
          margin: 0; }
          @media (max-width: 991.98px) {
            #forumContainer > .card .card-header.title > h2,
            #favoriteContainer > .card .card-header.title > h2 {
              font-size: 1rem; } }
        #forumContainer > .card .card-header.title > p.date,
        #favoriteContainer > .card .card-header.title > p.date {
          padding: 0;
          margin: 0;
          font-size: 0.8rem;
          text-align: end;
          white-space: nowrap; }
          @media (max-width: 991.98px) {
            #forumContainer > .card .card-header.title > p.date,
            #favoriteContainer > .card .card-header.title > p.date {
              font-size: 0.9rem; } }
    #forumContainer > .card .card-body,
    #favoriteContainer > .card .card-body {
      overflow: auto;
      max-height: 15vh;
      padding-top: 8px; }
      #forumContainer > .card .card-body::-webkit-scrollbar,
      #favoriteContainer > .card .card-body::-webkit-scrollbar {
        width: 0; }
      #forumContainer > .card .card-body > p,
      #favoriteContainer > .card .card-body > p {
        font-size: 1rem;
        margin: 0;
        padding: 0; }
        @media (max-width: 991.98px) {
          #forumContainer > .card .card-body > p,
          #favoriteContainer > .card .card-body > p {
            font-size: 0.9rem; } }

#forumWrapper:nth-child(1) > div.card {
  position: relative; }

#forumWrapper:nth-child(1) #fContainer {
  border: 1px #b1b1b1 solid; }
  @media (min-width: 992px) {
    #forumWrapper:nth-child(1) #fContainer {
      position: absolute;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto; } }
  #forumWrapper:nth-child(1) #fContainer > div.card {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0%; }

:export {
  backGroundCol: #4b3f3f;
  secondBgroundCol: #99eee5;
  primaryFontCol: #fefefa;
  blackColor: #242424;
  inputbackColor: #f2f2f2;
  borderColor: #b1b1b1;
  borders: 1px #b1b1b1 solid;
  fonFam: "Roboto", sans-serif;
  fontFamHeading: "Righteous", cursive; }

@media print {
  .container {
    width: auto; } }

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

a:hover,
a:visited {
  text-decoration: none; }

html {
  height: 100%;
  width: 100%; }
  html > body {
    height: 100%;
    width: 100%;
    background-color: #4b3f3f; }
    html > body > #app {
      height: 100vh; }
      html > body > #app #compContainer {
        height: 100vh;
        background-color: #99eee5; }

#pageWrapper {
  flex: 1 0 auto; }
  #pageWrapper #fbWrapper,
  #pageWrapper #forumWrapper,
  #pageWrapper #addserviceWrapper,
  #pageWrapper #faqWrapper,
  #pageWrapper #favoritesWrapper {
    height: 100%;
    padding: 0;
    position: relative;
    background-color: #99eee5;
    padding: 5vh 0; }
    #pageWrapper #fbWrapper > h1,
    #pageWrapper #forumWrapper > h1,
    #pageWrapper #addserviceWrapper > h1,
    #pageWrapper #faqWrapper > h1,
    #pageWrapper #favoritesWrapper > h1 {
      font-family: "Righteous", cursive;
      color: #fefefa;
      font-size: 62px;
      text-shadow: 2px 2px 4px #555555; }
    @media (max-width: 767.98px) {
      #pageWrapper #fbWrapper,
      #pageWrapper #forumWrapper,
      #pageWrapper #addserviceWrapper,
      #pageWrapper #faqWrapper,
      #pageWrapper #favoritesWrapper {
        padding: 0 0 3vh 0; } }
    @media (min-width: 768px) and (max-width: 991.98px) {
      #pageWrapper #fbWrapper,
      #pageWrapper #forumWrapper,
      #pageWrapper #addserviceWrapper,
      #pageWrapper #faqWrapper,
      #pageWrapper #favoritesWrapper {
        padding: 3vh 2vh 3vh 2vh; } }
    #pageWrapper #fbWrapper > div:first-child > div,
    #pageWrapper #forumWrapper > div:first-child > div,
    #pageWrapper #addserviceWrapper > div:first-child > div,
    #pageWrapper #faqWrapper > div:first-child > div,
    #pageWrapper #favoritesWrapper > div:first-child > div {
      justify-content: space-between; }
      @media (max-width: 991.98px) {
        #pageWrapper #fbWrapper > div:first-child > div,
        #pageWrapper #forumWrapper > div:first-child > div,
        #pageWrapper #addserviceWrapper > div:first-child > div,
        #pageWrapper #faqWrapper > div:first-child > div,
        #pageWrapper #favoritesWrapper > div:first-child > div {
          justify-content: space-evenly;
          padding-bottom: 0; } }
      @media (max-width: 575.98px) {
        #pageWrapper #fbWrapper > div:first-child > div,
        #pageWrapper #forumWrapper > div:first-child > div,
        #pageWrapper #addserviceWrapper > div:first-child > div,
        #pageWrapper #faqWrapper > div:first-child > div,
        #pageWrapper #favoritesWrapper > div:first-child > div {
          justify-content: start;
          padding-bottom: 5px; } }

#fContainer,
#qContainer {
  scrollbar-color: #858585 #f5f5f5;
  scrollbar-width: 12px; }

#fContainer::-webkit-scrollbar,
#qContainer::-webkit-scrollbar {
  padding-bottom: 3px;
  padding-top: 3px;
  width: 12px;
  background-color: #f5f5f5; }

#fContainer::-webkit-scrollbar-thumb,
#qContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #858585; }

#fContainer::-webkit-scrollbar-track,
#qContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5; }
